:root {
  --accent: 162;

  --decoration-color: hsl(
    var(--accent),
    66%,
    30%
  ); /*links and buttons borders*/
  --decoration-color-bright: hsl(var(--accent), 30%, 79%); /*buttons*/
  --decoration-color-dark: hsl(var(--accent), 30%, 73%); /*hovered buttons*/
}

body {
  margin: 0;
  padding: 0;
  font-family: "Verdana", sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 7%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #f5efe2;
}

h1 {
  margin: 2em 0;
}

.inputArea {
  display: flex;
  align-items: center;
  gap: 2em;
  margin: 2em 0;
}

#input {
  transition: color 0.5s ease;
  border: 3px solid;
  border-radius: 1em;
  padding: 1em;
}
#input.correct {
  color: green;
}
#input.almost {
  color: green;
  border: 3px dashed;
}
#input.wrong {
  color: red;
}
#input:focus {
  outline: none; /* убираем браузерный стиль */
  box-shadow: 0 0 4px;
}

.scrollHint {
  color: var(--decoration-color);
  text-decoration: none;
  border-bottom: 1px dashed var(--decoration-color);
}

.sticker-block {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2em;
  margin: 3em 0;
}

.phrase {
  position: relative;
  background: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 200px;
  border: 3px solid black;
  border-radius: 1em;
}

/*Bubble arrow:*/
.phrase::before,
.phrase::after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
}

/* Стрелка влево (по умолчанию) */
.phrase::before {
  top: 20px;
  left: -24px;
  border-width: 12px;
  border-color: transparent black transparent transparent;
}
.phrase::after {
  top: 22px;
  left: -19px;
  border-width: 10px;
  border-color: transparent white transparent transparent;
}

.image {
  width: 300px;
}
.image img {
  width: 100%;
}

.progress {
  margin: 2em 0;
}

#thumbnails {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

#thumbnails li {
  display: flex;
  width: 4em;
  height: 4em;
  border-radius: 1em;
  align-items: center;
  justify-content: center;
}
#thumbnails li img {
  width: 100%;
}
.guessedItem {
  background-color: white;
}
.unguessedItem {
  background-color: #edb2b3;
}
.shiny {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.2);
  }
  100% {
    filter: brightness(1);
  }
}

@media (max-width: 600px) {
  .sticker-block {
    flex-direction: column;
  }

  .phrase::before {
    top: auto;
    left: 50%;
    bottom: -24px;
    transform: translateX(-50%);
    border-width: 12px;
    border-color: black transparent transparent transparent;
  }

  .phrase::after {
    top: auto;
    left: 50%;
    bottom: -19px;
    transform: translateX(-50%);
    border-width: 10px;
    border-color: white transparent transparent transparent;
  }
}

.hidden {
  display: none;
}

#congrats {
  font-weight: bold;
  animation: pulse 2s infinite;
  color: #666;
}

#congrats a {
  color: var(--decoration-color);
}

#congrats a:hover {
  text-decoration-thickness: 3px;
}

.bottom button {
  background-color: var(--decoration-color-bright);
  border: 2px solid var(--decoration-color);
  border-radius: 1em;
  padding: 1em;
  margin: 1em 1em 1em 0;
  cursor: pointer;
}
.bottom button:hover {
  background-color: var(--decoration-color-dark);
}

#answersOutput {
  font-weight: bold;
}

hr {
  border-radius: 1em;
}
